* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Karla", sans-serif;
  margin: 0;

  height: 100%;
  color: #666;
  font-size: 16px;
  line-height: 1.5em;
}

.pic-1,
.pic-2,
.pic-3 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}

.pic-1 {
  background-image: url(../images/1.jpg);
  min-height: 100%;
}

.pic-2 {
  background-image: url(../images/2.jpg);
  min-height: 100%;
}

.pic-3 {
  background-image: url(../images/3.jpg);
  min-height: 100%;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text .border {
  background-color: #111;
  padding: 20px;
}

.text .border-1 {
  background-color: transparent;
  padding: 20px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
